@model TodoViewModel

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Todo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body>

    <div class="background">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-10">
                    <form asp-action="Insert" method="post" class="form-horizontal" role="form">
                        <div asp-validation-summary="All" class="text-danger"></div>

                        <div class="row justify-content-center align-content-center">
                            <div class="col-xl-6 col-lg-8 col-md-8 col-sm-10">
                                <label asp-for="Todo.Name" class="form-label"><strong>My Tasks</strong></label>
                                <input asp-for="Todo.Name" class="form-control" />
                                <span asp-validation-for="Todo.Name" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row justify-content-center">
                            <div class="col-xl-6 col-lg-8 col-md-8 col-sm-10 mt-3 mb-5">
                                @{
                                    var name = Model.Todo is not null ? Model.Todo.Name : "Save";
                                }
                                <input type="submit" class="btn btn-success px-4" value="Add" />
                            </div>
                        </div>
                    </form>

                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
